<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages - LocalZero</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/css/messaging.css}">
    <link rel="stylesheet" th:href="@{/navbar.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="center-screen-wrapper" style="padding: 24px 16px;">
    <div class="messaging-modal-content" style="max-width: 1160px; width: 100%; height: min(84vh, 900px);">
        <div th:replace="~{fragments/messaging-modal :: content}"></div>
    </div>
</div>
</body>
</html>


