<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Welcome to Local Zero!</h1>
<h2>The solution your neighborhood community needs!</h2>
<div class="buttons">
    <div class="actions">
        <a th:href="@{/initiatives/create}" class="btn">Create a new initiative</a>
    </div>
    <div class="actions">
        <a th:href="@{/auth/register}" class="btn">Register</a>
    </div>

    <div class="actions">
        <a th:href="@{/auth/login}" class="btn">Sign in</a>
    </div>
</div>

</body>
</html>