<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register - LocalZero</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<form th:action="@{/auth/register}" method="post">

    <div class="box">
        <h1>Register</h1>
        <h5>please enter your details</h5>

        <div class="input-row">
            <div class="input-group">
                <label for="name"><span class="required">*</span> Name</label>
                <input type="text" id="name" name="name" required/>
            </div>
            <div class="input-group">
                <label for="username"><span class="required">*</span> Username</label>
                <input type="text" id="username" name="username" required/>
            </div>
        </div>

        <div class="input-group">
            <label for="email"><span class="required">*</span> Email</label>
            <input type="email" id="email" name="email" required/>
        </div>

        <div class="input-row">
            <div class="input-group">
                <label for="password"><span class="required">*</span> Password</label>
                <input type="password" id="password" name="password" required/>
            </div>
            <div class="input-group">
                <label for="confirm"><span class="required">*</span> Confirm Password</label>
                <input type="password" id="confirm" name="confirm" required/>
            </div>
        </div>

        <div class="input-group">
            <label for="community"><span class="required">*</span> Community</label>
            <select name="community" id="community">
                <option value="Halmstad">Halmstad</option>
                <option value="Trelleborg">Trelleborg</option>
                <option value="Malmö">Malmö</option>
            </select>
        </div>

        <button type="submit" class="login-btn">Register</button>
        <p>Already have an account? <a id="signup" th:href="@{/auth/login}">Sign in</a></p>
    </div>
</form>


</body>
</html>